@model RolesViewModel
@{
    ViewData["Title"] = "Roles";
}

@*----*@
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ResourceWeb.lbRoleUser</h1>
            </div>
            <div class="col-sm-6">
                <ol class="float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/Home/Index">@ResourceWeb.lbHomePage</a>
                    </li>
                    <li class="breadcrumb-item active">
                       @ResourceWeb.lbManageBook
                    </li>
                </ol>
            </div>
        </div>
    </div>

</div>

